

header {
    background-color: wheat;
    padding: 20px;
}

h1 {
    margin: 0;
    color: blue;
}
img{

    padding-top: 0%;
    float:right;
    width: 5.9%;
    margin-top: 1%;
    margin-right: 1%;
    
}

h2{
    color:blue;
    margin-left: 1%;
}
img{
    border-radius: 2cm;
}
h3{
    margin-left: 1%;
}
p{
    margin-left: 1%;
}
h3{
    color:blue;
}